.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 6vh;
    margin-left: 5vh;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 2vh;
    margin: 0 2vh;
}

.menuLogo {
    width: 10vh;
}